html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: "Do Hyeon", sans-serif;
	font-weight: 400;
	font-style: normal;
	user-select: none;
  }
  
#game {
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	overflow:hidden;
}


/* sectionLeft */
#sectionLeft {
	position:absolute;
	left:0px;
	top:0px;
	width:30%;
	bottom:0px;
	min-width:100px;
	background:url(img/sectionLeftBackground.png)
}
#sectionLeft #gradient {
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
}
#sectionLeft #studentBundle {
	font-size: 30px;
	text-align:center;
	text-shadow:1px 0px 0px #000,-1px 0px 0px #000,0px 1px 0px #000,0px -1px 0px #000,0px 1px 4px #000;
	position:absolute;
	left:0px;
	top:10%;
	width:100%;
	border-radius: 5px;
	z-index:200;
	background:rgba(0,0,0,0.4);
	padding:2px 0px;
	pointer-events:none;
	color: white;
}
#sectionLeft #studentBundle #getPeople {
	font-size: 100%;
}
#sectionLeft #studentBundle #perSecondPeople {
	font-size:70%;
}
#sectionLeft #nameBundle {
	position:absolute;
	left:0px;
	top:10%;
	width:100%;
	z-index:200;
	font-size:25px;
}
#sectionLeft #nameBundle #universityName {
	font-size: 100%;
	text-align:center;
	color:rgba(255,255,255,0.8);
	position:absolute;
	bottom:8px;
	left:10%;
	width:75%;
	background:rgba(0,0,0,0.4);
	border-radius:12px;
	padding:4px 0px;
	cursor:pointer;
}
#sectionLeft #nameBundle #universityName:hover {
	color: #fff;
	text-shadow: 0px 0px 8px #fff;
}

#sectionLeft #logoBundle
{
	position:absolute;
	left:50%;
	top:40%;
}
#sectionLeft #logoBundle #universityLogo {
	position:absolute;
	width:256px;
	height:256px;
	left:-128px;
	top:-128px;
	z-index:10000;
	border-radius:128px;
	border:none;
	overflow:hidden;
	outline:none;
	cursor:pointer;
	background: url(img/icon_school.png);
	object-fit: cover;
}
#sectionLeft #logoBundle #universityLogo:hover {
	transform: scale(1.15);
	transition: transform 0.15s;
}

#sectionLeft #version {
	font-size: 25px;
	color: white;
	position: absolute;
	bottom: 0px;
	margin: 0px 0px 0px 5px;
}

#sectionLeft #debugDiv {
	font-size: 20px;
	color: white;
	position: absolute;
	bottom: 50px;
	margin: 0px 0px 0px 5px;
}
/* sectionMiddle */
#sectionMiddle {
	position:absolute;
	left:30%;
	padding-left:16px;
	margin-right:15px;
	top:0px;
	right:318px;
	bottom:0px;
	min-width:100px;
	overflow:hidden;
}



/* sectionRight */
#sectionRight {
	height:100%;
	position:absolute;
	top:0px;
	right:0px;
	overflow-x:hidden;
	overflow-y:scroll;
	/*background:url(img/panelBG.png);*/
	background:rgba(0,0,0,0.5);
}
#gameMenu {
	position: relative;
}
#gameMenu .button {
	cursor: pointer;
	width: 60px;
	height: 60px;
	margin: 5px;
	background-color: #999;
	display: inline-block;
	border: #000 1px solid;
	border-radius: 15px;
}
#gameMenu .button:hover {
	filter: brightness(115%);
}
#gameMenu .button .img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#product
{
	height:auto;
	min-height:60px;
}
.product {
	position: relative;
	width: 100%;
	height: 64px;
	background: url(img/purchaseTile.png) 0 -64px;
	cursor: pointer;
	display: flex;
	margin-bottom: 2.5px;
}
.product:hover {
	transition-duration: 0.1s;
	filter: brightness(115%);
}

.product .icon {
    width: 64px;
    height: 64px;
	background: url(img/game_menu_setting.png);
	opacity: 1;
	background-size: cover;
	background-repeat: no-repeat;
}
.product .info {
	position: relative;
	flex: 1;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.product .info .name {
	font-size: 28px;
	color: #fff;
	text-shadow:0px 0px 8px #fff;
	position: absolute;
	top: 8px;
	left: 8px;
}
.product .info .price {
	text-shadow: 0px 0px 8px #000;
	position: absolute;
	top: 40px;
	left: 8px;
	font-weight: bold;
	color: #ff0000;
}
.product .info .getCount {
	text-shadow:0px 0px 8px #fff;
	position: absolute;
	right: 8px;
	font-size:40px;
	opacity:0.9;
	color:#000;
}
.disabled {
	display: none;
}

#divisionLeft, #divisionRight {
   width:16px;
   height:100%;
   background:url(img/store.png) repeat-y;
   background:url(img/store.png) no-repeat top left,url(img/store.png) no-repeat bottom left,url(img/store.png?v=2) repeat-y;
   position:absolute;
   top:0px;
   bottom:0px;
   z-index:50;
}
#divisionLeft {
	left: 30%;
}
#divisionRight {
	right: 317px;
}

.tooltip {
    color: white;
    position: absolute;
    width: 300px; /* 너비 설정 */
    right: 320px; /* .product 왼쪽 바깥으로 이동 */
    height: auto; /* 높이 자동 조정 */
    background-color: purple; /* 배경색 설정 */
    border: 1px solid black; /* 검은색 선 설정 */
    z-index: 99; /* .product 요소 위에 보이도록 설정 */
    padding: 10px;
    display: block;
}

.tooltip .icon {
	width: 64px;
	height: 64px;
	border: #000 1px solid;
}

.tooltip .line {
	width: 95%;
	height: 1px;
	background: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,1),rgba(255,255,255,0));
	border: 0px;
}
.tooltip .description {
	font-size: 12px;
	color: gray;
	text-align: center;
}
.tooltip .infoBundle {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 12px;
	color: #ff0000;
}
.tooltip .infoBundle .info {
	width: 90%;
	height: auto;
	background-color: gainsboro;
	border-radius: 5px;
	margin: 3px;
	padding-left: 5px;
}